* {
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
}

:root {
    --primary-color: #FEA116;
    --background-color: #E6F7FF;
    --max-width: 1200px;
    --default-padding: 60px 24px;
    --text-font-family: 'Poppins';
}

/* header and nav bar */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 48px;
}

.site-name {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Mochiy Pop One';
    color: var(--primary-color);
}

.nav-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-section a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-section a:hover {
    color: var(--primary-color);
}

.book-table-btn {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0;
}

.book-table-btn:hover {
    background-color: #d87e0c;
}

.main-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/bg-steak.png');
    background-size: cover;
    background-position: center;
}

/* welcome section */
.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    margin: 0 auto;
    max-width: var(--max-width);
}

.welcome-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: white;
}

.welcome-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: white;
}

.rotating-platter-img img {
    width: 350px;
    animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Services Section */
.services-section {
    padding: var(--default-padding);
    background-color: white;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.service-tile {
    flex: 1 1 calc(25% - 60px);
    /* 20px * 3 = 60px as there are 3 20px gaps between 4 tiles */
    background-color: white;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.service-tile:hover {
    background-color: var(--primary-color);
    color: white;
}

.service-icon {
    width: 55px;
    height: 40px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.service-tile:hover .service-icon {
    color: white;
}

.service-tile h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

/* About Us Section */
.about-section {
    background-color: var(--background-color);
}

.about-container {
    max-width: var(--max-width);
    padding: var(--default-padding);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* About Us Section - Left Images Grid */
.images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.image {
    width: auto;
    height: auto;
    object-fit: contain;
}

.image.small {
    height: 190px;
}

.image.large {
    height: 250px;
}

.images-grid img:nth-child(2) {
    align-self: end;
    justify-self: start;
}

.images-grid img:nth-child(3) {
    align-self: start;
    justify-self: end;
}

/*  About Us Section - Right About Us Content*/
.about-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.sub-heading-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sub-heading {
    font-size: 16px;
    font-family: 'Pacifico';
    color: var(--primary-color);
    /* margin-bottom: 10px; */
}

.horizontal-bar {
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
}

.main-heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.icon-inline {
    margin: 0;
    display: inline-flex;
    width: 42px;
    height: 42px;
    color: var(--primary-color);
}

.about-paragraph {
    font-size: 16px;
    margin-bottom: 12px;
    color: #444;
}

.stats {
    display: flex;
    justify-content: left;
    gap: 25%;
    margin: 20px 0;
    flex-wrap: wrap;
}

.stat-item {
    display: flex;
    align-items: center;
}

.bar {
    width: 4px;
    height: 48px;
    background-color: var(--primary-color);
    margin-right: 12px;
}

.stat-number {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

.stat-label {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.about-btn {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0;
    width: 25%;
}

.about-btn:hover {
    background-color: #d87e0c;
    ;
}

/* Menu Section */
.menu-section {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    align-items: center;
    margin: 0 auto;
    padding: var(--default-padding);
}

.menu-tabs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tab {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
    gap: 20px;
}

.tab.active {
    border-bottom: 2px solid var(--primary-color);
}

.menu-list {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.menu-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.price {
    margin-left: auto;
    font-weight: bold;
    color: var(--primary-color);
}

/* Reservation Section */
.reservation-section {
    display: flex;
}

.reservation-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-left,
.reservation-right {
    flex: 1;
}

.reservation-right {
    background-color: #0b1320;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-row {
    display: flex;
    gap: 20px;
}

.input-row input,
.input-row select {
    flex: 1;
    padding: 12px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

textarea {
    padding: 12px;
    min-height: 100px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.reservation-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.reservation-btn:hover {
    background-color: #d87e0c;
}

/* Team Section */

.team-section {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    align-items: center;
    margin: 0 auto;
    padding: var(--default-padding);
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.team-member {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 30px 20px;
    width: 250px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 5px;
    color: #000;
    text-align: center;
}

.team-member p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
    text-align: center;
}

/* Testimonial Section */
.testimonial-section {
    background-color: var(--background-color);
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: var(--default-padding);
    align-items: center;
    max-width: var(--max-width);
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial-card {
    background: white;
    padding: 25px;
    max-width: 300px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.testimonial-card .quote-icon {
    color: var(--primary-color);
    font-size: 32px;
    line-height: 0;
}

.testimonial-text {
    font-size: 14px;
    margin: 15px 0;
    color: #333;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.client-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info strong {
    display: block;
    font-size: 15px;
    color: #2c3e50;
}

.client-info p {
    font-size: 13
}